<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>TechLearno</h3>
                    <p>
                        <strong>Head Office:</strong><br> H.No A 120 B Bhagwati Garden Ext, Gali No.6<br> Near Atul Chowk, Uttam Nagar,<br> New Delhi 110059<br><br>
                        <strong>Phone:</strong>+919911932591<br>
                        <strong>Email:</strong><a style="font-weight: bold;" href="mailto:admin@techlearno.com"> admin@TechLearno.com</a><br>
                    </p>
                    <div class="social-links mt-3">
                        <!--              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
                        <a href="https://www.facebook.com/cert.achiever.9" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/cert.achiever/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                        <!--              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                        <a href="https://www.linkedin.com/company/techlearno/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="refund.html#services">Refund</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="terms.html#about">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="privacy.html#about">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="bigdata.html">Big Data & Analytics</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="programming.html">Programming</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="cloud.html">Cloud Computing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="security.html">Cyber Security</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="service.html">IT Service Management</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Our Objective</h3>
                    <p>
                        TechLearno Training Provider is a leading global information technology Training, consulting services Company. We harness the power of cognitive IT Training Certifications, computing, Cloud, Network Security, Cyber security analytics and emerging technologies
                        to help our clients adapt to the Enterprises world and make them successful.
                    </p>
                </div>



            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>TechLearno</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer -->



<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="/site/assets/vendor/jquery/jquery.min.js"></script>
<script src="/site/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/site/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/site/assets/vendor/php-email-form/validate.js"></script>
<script src="/site/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="/site/assets/vendor/venobox/venobox.min.js"></script>
<script src="/site/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/site/assets/vendor/counterup/counterup.min.js"></script>
<script src="/site/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/site/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/site/assets/vendor/aos/aos.js"></script>
<script type="text/javascript">
    $('.mdb-select').materialSelect({});
</script>
<!-- Template Main JS File -->
<script src="/site/assets/js/main.js"></script>

</body>

</html>